.footer-sec {
  background: url("https://drone-shop-react.netlify.app/bg3.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-list,
.social-list > li:last-child {
  margin-bottom: 0;
}

.footer-list > li {
  list-style: circle;
  margin-left: 15px;
  padding: 0;
  margin-bottom: 20px;
}

.social-list > li {
  margin-left: 15px;
  padding: 0;
  margin-bottom: 20px;
}

@media (min-width: 375px) {
  .footer-sec {
    background-size: cover;
  }
}
